@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  background-color: white;
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .5s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent), linear-gradient(rgb(79, 70, 229),rgb(79, 70, 229))
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%
}

@keyframes animation {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-30px); }
  100% { transform: translateY(0px); }
}

.animated-image {
 animation: animation 2s infinite alternate;
}

.text-size {
  font-size: 50px;
}
